.bg-light{
    --bs-bg-opacity: 0;
}

img {
    pointer-events: none;
  }

k{
    font-weight: bolder;
    font-size: 1.5em;
}

.para{
    margin: auto;
    width: 90%;
    
}

.navHead{
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.nav-item1{
    padding-right: 3vw;
}

.nav-link{
    color: rgb(79, 42, 114);
    font-weight: 500;
    font-size: 1.2em;
}

.nav-item{
    padding-right: 2vw;
}

.me-2{
    color: #0d6efd;
}

.header{
    padding-top: 20vh;
}

.newheader{
    padding-top: 20vh;
}

.newheader h1{
    color: #142c50;
    font-size: 2em;
    font-weight: bold;
}


.header h1{
    font-size: 3.5em;
    font-weight: bold;
}

.nopeHeadImg{
    padding-top: 20vh;
    max-width: 70vw;
}

.nopelower{
    margin-top: -15vh;
}

.nopeHeader h1{
    color: #142c50;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 5vh;
    /* margin-bottom: 10vh; */
}

.nopeHeader{
    padding-left: 5vw;
    padding-right: 5vw;
}

.col{
    color: rgb(65, 34, 94);
}

.trip{
    font-size: 1.1em;
    color: #0d6efd;
    font-weight: 500;
}

.trip2{
    margin-left: 2vw;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
}

.col p{
    padding-top: 2vh;
    padding-right: 10vw;
}

.col img{
    margin-top: -20vh;
}

.lower{
    margin-top: -90vh;
}

.star{
    margin-bottom: -80vh;
    margin-top: -60vh;
    max-width: 12vw;
}

.reasons{
    color: rgb(16, 16, 83);
    margin-top: 10vh;
}

.reasons h1{
    font-size: 3em;
    font-weight: 400;
    padding-left: 10%;
    padding-right: 10%
}

.reasons p{
    padding-top: 2vh;
    margin-right: 15%;
    margin-left: 15%;
    padding-bottom: 10vh;
}

.line{
    padding-top: 10vh;
    max-width: 60vw;
    padding-bottom: 5vh;
}

.reasonCon{
    margin-top: -30vh;
    
    max-width: 80vw;
    margin-bottom: 15vh;
}

.reasonlady{
    max-width: 90vw;
    margin-bottom: 10vh;
}

.features{
    position: relative;
    color: rgb(16, 16, 83);
}

.features p{
    margin-right: 20%;
    margin-left: 20%;
}

.box{
    background-color: #FAFCFD;
    /* width: 30vw; */
    /* height: 30vh; */
    border-radius: 15px;
    margin: 15px;
}

.cloud{
    width: 33vw;
    padding-top: 21vh;
}

.lakeer{
    margin-left: 5%;
    width: 60%;
    margin-bottom: -40%;
}


.download{
    margin-top: 10%;
}

.download img{
    padding-top: 20vh;
}

.newdownHead img{
max-width: 60vw;
}


.download p{
    padding-bottom: 5vh;
}

.downHead{
    padding-top: 25vh;
}

.newdownHead{
    padding-top: 25vh;
    padding-bottom: 20vh;
}

.downHead H1{
    font-size: 2.5em;
    font-weight: 650;
}

.newdownHead h1{
    font-size: 2em;
    font-weight: 650;
}

.newdownHead p{
    margin-left: 10vw;
}

.nopedp{
    margin-left: 1%;
    margin-right: 1%;
}

.downbtn{
    width: 11vw;
    height: 6vh;
    margin-right: 1vw;
    font-size: 1.2em;
}

.downbtn b{
    padding-left: 0.5vw;
}

.support{
    margin-top: 5vh;
}

.cenwala{
    margin-left: 10%;
    margin-right: 10%;
}

.support h1{
    font-size: 3em;
    font-weight: 500;
}

.support img{
    margin-left: -10vw;
    padding-top: 10vh;
    max-width: 50vw;
}

.nopesupport h1{
    font-size: 2em;
    font-weight: 650;
}

.nopesupport img{
    padding-right: 20vw;
    max-width: 80vw;
}

.nopesupport p{
    padding-left: 10vw;
}
.supra b{
    color: rgb(27, 27, 242);
}

.supra{
    margin-right:4vw;
}

.part b{
    color: rgb(27, 27, 242);
}

.nope img{
    margin: auto;
    max-width: 80vw;
}

.nopeimg{
    max-width: 50vh;
}

.part{
    padding-left: 15%;
    padding-right: 15%;
}

.hrline{
    margin: auto;
    width: 40%;
    color: rgb(55, 6, 179);
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.parimg{
    max-width: 80vw;
}

.footer{
    width: 100%;
    margin: 0;
    margin-top: 15vh;
    background-color: rgb(31, 31, 126);
    padding-bottom: 5vh;
}

.color{
    color: #FAFCFD;
    font-size: 1.1em;
    text-align: left;
}

.color b{
    font-size: 1.3em;
    font-weight: 600;
}
.footer li{
    list-style-type: none;
    padding-bottom: 1vh;
}

.dis{
    padding-top: 5vh;
    margin: auto; 
   width: 70%;
}


.footbtn{
    margin-top: 3vh;
    font-size: 0.8em;
    font-weight: 500;
    height: 5vh;
}

.footimg{
    margin-top: 5vh;
    max-width: 70vw;
}
